*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* css variables and properties */
:root {
    --background-color1: honeydew;
    --background-color2: rgb(233, 233, 233) ;
 
}

body{
    background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #cccccc;
    /* background-repeat:repeat-x; */
    overflow-x: hidden;
}

.my-name{
font-family:'Monofett';
text-align: center;
font-size: 80px;
}


.title{
    font-family:'Bungee Hairline';
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
  
}

.about-me{
display: flex;
justify-content:center;
padding-top: 55px;


}


.nav-links{
    color: black;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    font-family: 'Bungee Hairline';
    font-size: 30px;
    font-weight: bolder;

 
   
   
}

.about-me{
    text-decoration: none;
}

.card-body{
    padding-top: 60px;
}

.about{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.resume{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.work{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.contact{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

#para-text{
    font-family: 'avenir';
}

#about-me{
    font-family: 'Bungee Hairline';
    font-weight: bolder;
    font-size: 30px;
}

#work{
    padding-top: 50px;
    font-family: 'Bungee Hairline';
    font-weight: bolder;
    font-size: 30px;
}
.work-header{
    padding-top: 150px;
}

/* Footer styling*/

.navbar-brand-contact{
    text-align:center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Bungee Hairline';
    font-weight: bolder;
}


.container-fluid{
    background-color: var(--background-color2);
}


  .navbar{
    background-color: var(--background-color1);
    display: flex;

    
 
 
}

#contact{
    background-color: var(--background-color2);
}

 .navbar-text{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

} 

.nav-link{
    font-size: 25px;
    font-family: 'Bungee Hairline';
    font-weight: bolder;
}

.card-img-top{
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;

}



a:link{
    text-decoration: none;
    
}

.card-title-color{
    color: black;
    font-family: 'avenir';
  
}

.navbar-item {
    padding-bottom: 230px;
    font-family: 'avenir';
    color: black;
    padding-right: 15px;
}

.card-text{
    font-family: 'avenir';
}

.work-header{
    font-family: 'avenir';
    margin-left: 20px;
    padding-bottom: 20px;
}



