*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #cccccc;
    /* background-repeat:repeat-x; */
    overflow-x: hidden;
}

.my-name{
font-family:'Monofett';
text-align: center;
font-size: 80px;
}


.title{
    font-family:'Bungee Hairline';
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
  
}

.about-me{
display: flex;
justify-content:center;
padding-top: 55px;

}

.nav-links{
    color: black;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    font-family: 'Bungee Hairline';
    font-size: 30px;
    font-weight: bolder;

 
   
   
}

.about-me{
    text-decoration: none;
}

.card-body{
    padding-top: 60px;
}

.about{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.resume{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.work{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
.contact{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

#para-text{
    font-family: 'avenir';
}

#about-me{
    font-family: 'avenir';
}

#work{
    padding-top: 50px;
}
.work-header{
    padding-top: 150px;
}

.navbar-brand-contact{
    text-align:center;
    text-decoration: none;
    color: black;
    font-size: 25px;
}


.container-fluid{
    background-color: var(--background-color2);
}


  .navbar{
    background-color: var(--background-color1);
 
}

#contact{
    background-color: var(--background-color2);
}

.navbar-text{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.nav-link{
    font-size: 20px;
}

.card-img-top{
    max-width: 100%;
    height: auto;
}

.nounderline{
    text-decoration: none !important;
}